header{
    background-image: url(assets/mainback.jpg);
    height: 80vw;
    position: relative;
}
nav{
    width: 100%;
    opacity: 0.44;
position: absolute;

}
*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.box img{
height: 40px;
position: relative;
z-index:10.1;
}
.box2{
display: flex;
gap: 20px;
}