.border{
    border: 2px solid red;
    margin: 3px;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 2px;
}
.p-1{
    padding: 10px;
}
/* For Webkit-based browsers */
::-webkit-scrollbar {
    width: 7px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: #383636; /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:rgb(43, 42, 42); /* Color of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    /* background:rgb(5, 5, 5); Color of the handle on hover */
}
